body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.navbar li {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}

.navbar li {
    margin-left: 40px;
    margin-right: 40px;
    color:azure;
}

