body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.navbar li {
    font-size: 1.3em;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
}
.navbar a:hover {
    text-decoration: none;
    border-bottom:0;
    border-color:none;
    opacity:0.8;
}

.navbar {
background-color: lightgray;
filter: drop-shadow(0 6px 6px #011531);
}

